<% flash.each do |type, message| %>
  <% color = case type.to_sym
    when :notice then "bg-green-100 border-green-400 text-green-700"
    when :alert then "bg-red-100 border-red-400 text-red-700"
    else "bg-gray-100 border-gray-400 text-gray-700"
    end %>

  <div class="max-w-4xl mx-auto mt-4">
    <div class="border px-4 py-3 rounded relative <%= color %>">
      <span class="block sm:inline"><%= message %></span>
    </div>
  </div>
<% end %>
